* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  background: #322f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

/* Form Styling */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

input:focus {
  border-color: #333;
  outline: none;
}

/* Gender Selection Styling */
.gender-selection label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.gender-selection input {
  margin-right: 0.5rem;
}
/* Submit Button */
button {
  padding: 0.8rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #64666a;
}
